{
  email {$ACME_EMAIL}
}

{$WEB_HOST} {
  encode zstd gzip
  handle /api/* {
    reverse_proxy {$API_UPSTREAM} {
      flush_interval -1
    }
  }
  handle {
    root * /srv/web
    try_files {path} /index.html
    file_server
  }
}

{$LK_HOST} {
  reverse_proxy 127.0.0.1:7880
}
